@tailwind base;
@tailwind components;
@tailwind utilities;
/* In your CSS file or a style block in your component */

@layer components {
    .all-\[unset\] {
      all: unset;
    }
  }
  
  .triangle {
    width: 0;
    height: 0;
    border-left: 30rem solid transparent; /* Change the size by adjusting this value */
    border-right: 32rem solid transparent; /* Change the size by adjusting this value */
    border-bottom: 15rem solid rgb(229 231 235);/* Change the size by adjusting this value */
  }
  .triangle-rotate{
    width:0;
    height:0;
    border-left: 30rem solid transparent; /* Change the size by adjusting this value */
    border-right: 32rem solid transparent; /* Change the size by adjusting this value */
    border-bottom: 15rem solid rgb(229 231 235); /* Change the size by adjusting this value */
    transform: rotate(180deg);

    
  }
  .small-traingle{
    width:0;
    height:0;
    border-left:4rem solid transparent;
    border-right: 4rem solid transparent;
    border-bottom:2rem solid white;


  }
  .small-traingle-rotate{
    width:0;
    height:0;
    border-left:4rem solid transparent;
    border-right: 4rem solid transparent;
    border-bottom:2rem solid white;
    transform: rotate(180deg);
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  